@model AapkiMagazine.Models.ArticleViewModel
@{
    Layout = "~/Views/Shared/_Layout_Manage.cshtml";
}
@using (Html.BeginForm("Edit", "Manage", FormMethod.Post))
{ 
    @Html.AntiForgeryToken();
    <div class="container">
        <div class="content section row">
            <div class="alert alert-warning" id="error_alert" style="display: none;">
                @Html.ValidationSummary(true)
                @Html.ValidationMessageFor(model => model.ArticleItem.Title)
                @Html.ValidationMessageFor(model => model.ArticleItem.Title_English)
                @Html.ValidationMessageFor(model => model.ArticleItem.Content)
                @Html.ValidationMessageFor(model => model.ArticleItem.Author)
                @Html.ValidationMessageFor(model => model.ArticleItem.Company)
            </div>
        </div>
        <div id="post_message" class="content section row alert alert-warning">
                <button type="button" class="close">
                    &times;</button>Edit and scribe your post below, avoid copy and pasting HTML content from other webpage to ensure smooth and similar style of all articles accross the portal.</div>
        <div class="content section row">
            @Html.HiddenFor(model => model.ArticleItem.ID, new
       {
           id = "hdnId",
           name = "hdnId"
       })
            <div class="col-md-12 col-lg-12">
                <div class="col-md-2 col-lg-2">
                    <h4 class="widget-title">
                        Edit Article</h4>
                </div>
                <div class="col-md-6 col-lg-6">
                    <ul class="entries">
                        <li>@Html.TextBoxFor(m => m.ArticleItem.Title, new
                       {
                           placeholder = "title of the article",
                           Class = "form-control",
                           title = "title of the article",
                           id = "article_title"
                       })</li><li>@Html.TextBoxFor(m => m.ArticleItem.Title_English, new
                 {
                     placeholder = "title of the article in english",
                     Class = "form-control",
                     title = "mention title of the article in english, DO NOT include underscore, dash or comma",
                     id = "article_title_english"
                 })</li></ul>
                </div>
                <div class="col-md-3 col-lg-3">
                    <input id="btnsubmit-next" value="Save & Preview" type="submit" name="command" class="btn btn-warning btn-md"
                        title="Save & Preview Article" />
                    <input id="btnsubmit-cancel" value="Cancel" type="submit" name="command" class="btn btn-default btn-md"
                        title="Go To Home Page" />
                </div>
            </div>
        </div>
        <div id="content" class="content section row">
            <div class="col-md-9 col-lg-9">
                <div class="row">
                    @Html.HiddenFor(model => model.ArticleItem.Content, new
               {
                   id = "hdnContent",
                   name = "hdnContent"
               })
                  
                    @Html.TextArea("Message", Model.ArticleItem.Content, new { Class = "textcontent textarea", id = "txtblogcontent" })
                </div>
            </div>
            <div class="sidebar col-md-3 col-lg-3">
                <aside class="widget">

							<h2 class="widget-title ribbon"><span>Add TAGS</span></h2>

							

							<ul class="entries">									
                                    <li class="entry style-recent-list">            
             @Html.HiddenFor(model => model.ArticleItem.Tag_Article, new
        {
            id = "hdnTag_Article",
            name = "hdnTag_Article"
        })
                                    <input type="hidden" value="@ViewBag.HdnSelectedTags" id="HdnSelectedTags" />
                                    <input id="article_tags" style="width:250px;" type="text"/>
        <div style="clear:both;"></div>

									</li><li><small>Select tags for article</small></li></ul>
						</aside>
                <aside class="widget">

							<h2 class="widget-title ribbon"><span>Author and Company</span></h2>							

							<ul class="entries">
									
                                    <li class="entry style-recent-list">
                                     @Html.TextBoxFor(m => m.ArticleItem.Author, new
                                {
                                    placeholder = "author name",
                                    Class = "form-control",
                                    title = "author name",
                                    id = "author_name"
                                })                                    

									</li>
                                    <li>
                                                     @Html.TextBoxFor(m => m.ArticleItem.Company, new
                                                {
                                                    placeholder = "company or agency name",
                                                    Class = "form-control",
                                                    title = "company name",
                                                    id = "company_name"
                                                })              
                                  
                                    </li></ul>
						</aside>
                <aside class="widget">

							<h2 class="widget-title ribbon"><span>Select category</span></h2>
                            @Html.HiddenFor(model => model.ArticleItem.Category.Id, new
                       {
                           id = "hdncategoryid",
                           name = "hdncategoryid"
                       })
                             
							<ul class="entries radio">
                            @if (Model.Categories != null)
                            {

                                foreach (var category in Model.Categories)
                                { 
                                
                                    <li class="entry style-recent-list">

										<input type="radio" name="category" id = "@category.Id" value="@category.Id" />
		                                <label for="@category.Id" class="label label-success" title="@category.Name">@category.Name</label>

									</li>
                                
                                }

                            }									
                                    
</ul>
						</aside>
            </div>
        </div>
    </div>
    <script src="../../Scripts/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="../../Scripts/js/jHtmlArea-0.7.5.min.js" type="text/javascript"></script>
    <script src="../../Scripts/js/bootstrap.min.js" type="text/javascript"></script>    
    <script src="../../Scripts/js/magicsuggest-1.3.1-min.js" type="text/javascript"></script>
    <script src="../../Scripts/js/editarticle.js" type="text/javascript"></script>
                            if (ViewBag.StartScript != null)
                            {       
    @Html.Raw(ViewBag.StartScript);
                            }
}
